.nav-bar {
background-color: yellow;
padding:2px;
margin:20px;
font-size: 20px;
    }

body{
background-color: white;
color: black;
text-align:center;
Font-size:20px;
    }
img{
width:50px;
height:170px;
}

h1{
    background-color: green;
}


h1, h2, h3, p {
  font-family:Times New Roman;
}

